{% extends "blog_management/base.html" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.content }}</p>
    <h3>Comments</h3>
    <ul>
        {% for comment in blog.comments.all %}
            <li>{{ comment.author }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <button type="submit">Add Comment</button>
    </form>
{% endblock %}
