{% extends 'validation_app/base.html' %}
 {# {% load get_item %} #}

{% block content %}
 
        <!-- Direct HTML Form for SQL input -->
    <form method="post">
        {% csrf_token %}
        <label for="unformatted_sql">Enter your unformatted SQL:</label><br>
        <textarea name="unformatted_sql" id="unformatted_sql" rows="10" cols="50"></textarea><br><br>
        <button type="submit">Format SQL</button>
    </form>

    {% if formatted_sql %}
        <h2>Formatted SQL:</h2>
        <pre>{{ formatted_sql }}</pre>
    {% endif %}

{% endblock %}
